@import '../function';

.custom-typography {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }

  .ant-typography {
    line-height: 1.6;
    color: inherit;
  }

  .extra-large {
    font-size: calc-rem(40);
  }

  .large {
    font-size: calc-rem(28);
    line-height: 30px;
  }

  .medium {
    font-size: calc-rem(14.75);
    line-height: 90px;
    letter-spacing: 0.5px;
  }

  .normal {
    font-size: calc-rem(16);
    line-height: 20px;
  }

  .body {
    font-size: calc-rem(14);
    line-height: 14px;
  }

  .caption {
    font-size: calc-rem(12);
    line-height: 16px;
  }

  .small {
    font-size: calc-rem(10);
  }

  .minion {
    font-size: calc-rem(8);
  }
}
