$font-size-default: 16;

@function to-rem($value) {
  @if $value == 0 {
    @return 0;
  }

  @return ($value / $font-size-default) + rem;
}

@function calc-rem($values...) {
  $result: ();

  @each $number in $values {
    $result: append($result, to-rem($number));
  }

  @return $result;
}
