.single-product {
  @screen sm {
    border-radius: 10px;
    overflow: hidden;
    background-color: theme('colors.yellow');
  }

  .title {
    font-size: 19px;
    line-height: 23px;
    font-weight: 600;

    @screen sm {
      font-size: 16px;
      line-height: 20px;
      color: theme('colors.white');
    }
  }

  .description {
    margin-top: 8px;
    font-size: 14px;
    line-height: 18px;
    white-space: pre-line;

    @apply line-clamp-2;

    @screen sm {
      margin-top: 4px;
      font-size: 12px;
      line-height: 16px;
      color: theme('colors.white'/ 60%);
    }
  }

  .image {
    position: relative;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
  }
}
